.cover {
  width: 100%;
  padding: 20% 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  margin: 46px 0;
  position: relative;
}

.cover::before {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 0.5s ease;
}

.cover:hover::before {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 767px) {
  .cover {
    padding: 33px 16px;
    margin: 32px 0;
  }
}
